.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  margin: 8px 0;


  position: static;
  width: 356px;
  border-radius: 55px;

  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;

}

.yellow {
  background: #ffe44d;
  border: none;
}

.white {
  background: #fff;
  border: .5px solid #cfd8dc;
}